.enteteAfficher {
    display: flex;
    justify-content: left;
}
.publication{
    color: blue;
    margin: 64px 0px 7px 286px;
}

.flex{
    display: flex;
}
.nom_publier{
    margin: 20px;
    font-size: 16px;
    color: blue;
}
.image_publier{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.menu {
    display: flex;
    list-style: none;
    font-size: 20px;
    flex-direction: column;
}
.menuli {
    margin: 0px 50px;
    cursor: pointer;
    padding: 10px;
    background: azure;
    margin: 10px;
    border-radius: 5px;
}
a{
    text-decoration: none;
}

.img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.card {
    /* background: red; */
    width: 25%;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
  
}

.likes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texte{
  font-size: 18px;
  font-weight: bold;
}
.text {
    height: 206px;
    font-size: 20px;
    font-weight: bold;
    background: darkgoldenrod;
    overflow: scroll;
}
.like i {
    color: blue;
    font-size: 25px;
    
}
.dislike i {
    color: blue;
    transform: rotate(180deg);
    font-size: 25px;
   
}
.nbreLike{
    color: blue;
    font-size: 25px;
    margin: 16px;
}
.card:hover{
    /* background: red; */
    width: 90%;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 4px 14px;
    border-radius: 5px;
   
}
.card {
    /* background: red; */
    width: 94%;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
   
}
.card_flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    
    width: 260px;
}
.flex_carde {
    display: flex;
    gap: 10px;
    width: 98%;
    flex-flow: wrap;
    justify-content: center;
}

.fermer{
    display: none;
}
.icone {
    color: #273469;
    
    top: 10px;
    display: flex;
    justify-content: space-around;
    position: relative;

}
.icon_modifier{
    padding: 10px;
    cursor: pointer;
    color: rgb(146, 154, 57);
    font-size: 22px;
}
.icon_supprimer{
    padding: 10px;
    cursor: pointer;
    color: red;
    font-size: 22px;
}

@media only screen and (min-width: 200px) and (max-width: 450px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nom_publier {
        margin: 10px;
        font-size: 25px;
        
    }
    .texte {
        font-size: 24px;
    }
    .imgheader {
        width: 50%;
    }
}
@media only screen and (min-width: 451px) and (max-width: 900px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex_carde {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .flex_card{
        width: 97%;
    }
    .card_flex{
        width: 97%;
    }
    .card{
        width: 97%;
    }
    .nom_publier {
        margin: 10px;
        font-size: 40px;
        
    }
    .texte {
        font-size: 80px;
    }
    .imgheader {
        width: 50%;
        height: 200px;
        width: 200px;
    }

}