/* .detaille {
    display: flex;
    margin: auto;
    width: 80%;
    /* background: aqua; */
    /* gap: 20px;
}
.imge{
    width: 880px;
    height: 500px;

}
.detaille1{
    margin: auto;
}

.like i {
    color: blue;
    font-size: 25px;
    cursor: pointer;
}
.dislike i {
    color: blue;
    transform: rotate(180deg);
    font-size: 25px;
    cursor: pointer;
}
.nbreLike{
    color: blue;
    font-size: 25px;
    margin: 16px;
} */ 